#modal {
  background-color: lightgray;
  border: 2px solid black;

  padding: 20px 40px;
  width: 50%;
}
#modal-wrapper {
  align-items: center;
  display: none;
  height: 80vh;
  justify-content: center;
  position: absolute;
}
#modal-wrapper-two {
  align-items: center;
  display: none;
  height: 80vh;
  justify-content: center;
  position: absolute;
}

#modal button {
  padding: 10px 20px;
  border: 2px solid black;
  transition: background-color .4s ease
}
#modal button:hover {
  background-color: lightblue;
}
